.navbar {
  box-shadow: 2px 2px 5px #A9A9A9;
  opacity: 0.9;
  background: #fff; }
  .navbar #head_t {
    margin-top: 7px;
    font-family: 'Oswald';
    color: #A9A9A9; }
  .navbar a {
    color: #A9A9A9; }
    .navbar a .active {
      color: rgba(255, 59, 63, 0.6); }
  .navbar a:hover {
    color: rgba(255, 59, 63, 0.6) !important; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 10px; }

#showcase {
  background: url("../img/usict.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 628px; }
  #showcase .pic-overlay {
    background: rgba(239, 239, 239, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%; }
  #showcase .container {
    margin-top: 130px; }
  #showcase #in-between h1 {
    margin-bottom: -70px;
    color: #aaaaaa;
    font-size: 10rem;
    font-family: 'Work+Sans', sans-serif; }
  #showcase #in-between .sky {
    color: #646464;
    background-color: rgba(150, 210, 255, 0.6);
    font-size: 1.5rem; }

#showcase2 {
  background-color: #EFEFEF; }
  #showcase2 #show_head {
    color: #646464;
    font-weight: bold; }
  #showcase2 .sky {
    background-color: rgba(150, 210, 255, 0.6); }
  #showcase2 a:hover {
    text-decoration: none;
    color: white; }

footer {
  background-color: #aaaaaa; }
